{{ header }}
<div id="bodycon">
  <div class="container   ">
     <div class="main-container col1-layout">
        <div class="contentBox contentWithSidebar productDetails" id="">
           <div class="main">
              <!-- <div class="breadcrumbs">
                 <ul>
                   <li class="home"> <a href="" title="Go to Home Page">Home</a> <span> &gt; </span> </li>
                   <li> <strong>Define</strong> </li>
                 </ul>
                 </div> -->
              <div class="col-main ">
                 <div class="std">
                    <p>
                    <div class="container getquote">
                       <h2 class="log-title">Tạo Yêu Cầu Báo Giá</h2>
                       <div class="rwsform">
                          <form method="post" name="myForm" action="https://steeloncall.com/advertisementadmin/index/save/">
                             <div class="rwsform_inner">
                                <h3>Thông Tin</h3>
                                <fieldset>
                                   <p class="input-box">  
                                      <input type="text" name="full_name" required autocomplete="off"  placeholder="Họ Tên"/>
                                   </p>
                                   <p class="input-box">  
                                      <input type="email" name="email" required autocomplete="off"  placeholder="Email-ID"/>
                                   </p>
                                   <p class="input-box">
                                      <input class="number_font" type="number" name="mobile_number" id="phone" maxlength="10" required autocomplete="off"  placeholder="Số Điện Thoại"/>
                                   </p>
                                   <p class="input-box">
                                      <input type="text" name="city" id="city" required autocomplete="off"  placeholder="Địa Chỉ" />
                                   </p>
                                   <p class="input-box">
                                      <select name="state">
                                         <option value=""> Thành Phố </option>
                                         <option value="Andhra Pradesh">Hà Nội </option>
                                         <option value="Arunachal Pradesh">Đà Nẵng</option>
                                         <option value="Arunachal Pradesh">Hồ Chí Minh</option>
                                      </select>
                                   </p>
                                   <p class="input-box">
                                      <select name="state">
                                         <option value=""> Quận huyện </option>
                                         <option value="Andhra Pradesh">Thanh khê </option>
                                         <option value="Arunachal Pradesh">Hải Châu</option>
                                         <option value="Arunachal Pradesh">Liên chiểu</option>
                                      </select>
                                   </p>
                                </fieldset>
                                <h3>Thông Tin Đơn Hàng</h3>
                                <fieldset>
                                   <div class="add_products"><span id="add_product">Thêm sản phẩm</span> </div>
                                   <div id="data">
                                      <div class="noproduct"><p>Chưa có sản phẩm nào</p></div>
                                      <table id='productData' has-product="0" style="display:none">
                                         <thead>
                                            <tr>
                                               <td>Danh mục</td>
                                               <td>Sản phẩm</td>
                                               <td>Nhà sản xuất</td>
                                               <td>Mác thép</td>
                                               <td>Số lượng</td>
                                               <td>Đơn vị</td>
                                               <td>Đơng giá tạm tính</td>
                                               <td>Ghi chú</td>
                                            </tr>
                                         </thead>
                                         <tbody id='#datatable'></tbody>
                                      </table>
                                   </div>
                                </fieldset>
                             </div>
                             <input type="hidden" name="quote_from" value="website" /> 
                             <p class="cmsubmit input-box">
                                <input type="submit" name="submit" value="Tạo Báo Giá" class="cmsubmit cs"/>
                             </p>

                          </form>
                          <p class="cmsubmit input-box">
                          <button class="cmsubmit" id="gpdf">Tải xuống pdf</button>
                          </p>
                       </div>
                    </div>
                   <!-- support desktop starts here --> 
                   <div id="add_modal_desktop" class="modal">
                      <!-- Modal content -->
                      <div class="modal-content">
                         <div class="modal-content-right">
                            <span class="add_product_close"></span>
                            <div class="model_form">
                               <h3>Thêm sản phẩm</h3>
                               <ul class="signin_form">
                                  <span id="support_login_error_box" style="display:none"></span>
                                  <span id="support_login_success_box" style="display:none"></span>
                                  <form name="support_form" id="support_form">
                                     <li>
                                       <select id="categoryName">
                                          {% for category in categories %}         
                                            <option value="{{category.category_id}}">{{category.name}}</option>
                                          {% endfor %}
                                        </select>
                                     </li>
                                     <li>
                                       <select id="productName">
                                          <option>Sản phẩm</option>
                                        </select>
                                     </li>
                                     <li>
                                       <select id="steelgrade">
                                          <option>Mác thép</option>
                                        </select>
                                     </li>
                                     <li>
                                       <select id="manufacturer" style="display:none">
                                          <option>Nhà cung cấp</option>
                                        </select>
                                     </li>
                                     <li>
                                        <input type="text" name="qty" id="qty" placeholder="Số lượng"  required='required' />
                                        <br/>
                                        <input type="hidden" name="weight_class" id="weight_class" value="" />
                                        <i><p id="note_qty"></p></i>
                                     </li>

                                     <li>
                                        <textarea placeholder="Ghi chú" id="note" name="note"  required='required'></textarea>
                                     </li>
                                     <li> <button type="button" class="btn-sumbmit" id="add_form">Thêm</button>  </li>
                                     <!--<input type="submit" value="SEND" />-->
                                  </form>
                               </ul>
                            </div>
                         </div>
                      </div>
                   </div>

<script>       

jQuery("#gpdf").click(function(e){
  var pdfdoc = new jsPDF();
  var specialElementHandlers = {
  '#ignoreContent': function (element, renderer) {
      return true;
    }
  };
  pdfdoc.fromHTML($j('#data').html(),10,10,{

  'width': 110,

  'elementHandlers': specialElementHandlers
  
  });
  pdfdoc.save('Baogia.pdf');
});
// get the modal  
var add_modal_desktop = document.getElementById('add_modal_desktop');
/*var model04 = document.getElementById('support_modal');
var model05 = document.getElementById('tracK_modal');*/
var model06 = document.getElementById('tracK_modal_desktop');

// get the button which opens the modal      
var add_btn_desktop = document.getElementById('add_product');
/*var btn4 = document.getElementById('btn4');
var btn5 = document.getElementById('btn5');*/

// get the close button which closes the modal  
var add_product_close = document.getElementsByClassName('add_product_close')[0];
/* var close_btn04 = document.getElementsByClassName('close_modal4')[0];
*/
var close_btn06 = document.getElementsByClassName('close_modal6')[0];
  
// when user clicks the button open the model
add_btn_desktop.onclick =  function(){
  add_modal_desktop.style.display = "block";
}

/*btn5.onclick =  function(){
  model05.style.display = "block";
}

expert_btn_desktop.onclick =  function(){
  expert_modal_desktop.style.display = "block";
}  */
  
// when the user clicks on close button close the model

add_product_close.onclick = function(e) {
  add_modal_desktop.style.display = "none";
};                  
   
</script>
<script>
jQuery(function ($) {
$("#phone").on("keypress", function (e) {
  
  //alert(id);
           var keyCode = e.which ? e.which : e.keyCode
           var ret = ((keyCode >= 48 && keyCode <= 57)) || (keyCode == 37 || keyCode == 39 || keyCode == 63272 || keyCode == 8 || keyCode == 45 || keyCode == 189);
           $("#error").css("display", ret ? "none" : "inline");
           return ret;
       });
});
</script>
<script>
 jQuery("#add_form").click(function(e){
     
 var container = jQuery("#productData");

 var datatable = jQuery("#datatable");

 if(container.attr("has-product") == 0){

    container.attr("has-product","1");

    container.css('display','');

    jQuery(".noproduct").css('display','none');
 }

 var categoryName = jQuery("#categoryName option:selected").text();
 var productName = jQuery("#productName option:selected").text();
 var qty = jQuery("#qty").val();
 var note = jQuery("#note").val();
 var weight_class = jQuery("#weight_class").val();
 var steelgrade = jQuery("#steelgrade option:selected").text();
 var manufacturer = jQuery("#manufacturer option:selected").text();
 var price = jQuery("#manufacturer option:selected").attr('price');
 var total_price = price*qty;
 container.append("<tr><td>"+categoryName+"</td><td>"+productName+"</td><td>"+manufacturer+"</td><td>"+steelgrade+"</td><td>"+qty+"</td><td>"+weight_class+"</td><td>"+total_price+"</td><td>"+note+"</td></tr>");
 
 

 return;
    
 
 //$container.append('<div id="answerdiv ' + $container.children().length + 1 + '"></div>');

 });

jQuery('#categoryName').change(function(e) {
  var categoryid = jQuery("#categoryName").val();
    $j.ajax({
        url: 'index.php?route=checkout/order/getProducts&category_id='+categoryid,
        type: "GET",
        dataType: 'json',
        success: function(data) {
          var html = '';
          $j.each(data, function( key, value ) {
            html = html+"<option value='"+ value['product_id'] +"'>"+ value['name'] + "</option>";
          });
          $j("#productName").empty().append(html);
      }
    });
});

jQuery('#productName').change(function(e) {
  var productid = jQuery("#productName").val();
    $j.ajax({
        url: 'index.php?route=checkout/order/getSteelGrade&product_id='+productid,
        type: "GET",
        dataType: 'json',
        success: function(data) {
          var html = '';
          $j.each(data, function( key, value ) {
            html = html+"<option value='"+ value['id'] +"'>"+ value['name'] + "</option>";
          });
          $j("#steelgrade").empty().append(html);
      }
    });

    $j.ajax({
        url: 'index.php?route=checkout/order/getProduct&product_id='+productid,
        type: "GET",
        dataType: 'json',
        success: function(data) {
          $j.each(data, function( key, value ) {
            text = 'Đơn vị tính '+ value['weight'];
            var weight_class = value['weight'];
          });
          $j("#note_qty").text(text);
          $j("#weight_class").val(weight_class);
          
      }
    });
});

jQuery('#steelgrade').change(function(e) {
  var steelgradeid = jQuery("#steelgrade").val();
  var productid = jQuery("#productName").val();
    $j.ajax({
        url: 'index.php?route=checkout/order/getSteelManufacturer&product_id='+productid+'&steelgrade_id='+steelgradeid,
        type: "GET",
        dataType: 'json',
        success: function(data) {
          var html = '';
          $j.each(data, function( key, value ) {
            html = html+"<option value='"+ value['id'] +"' price="+value['price']+">"+ value['name'] + "</option>";
          });
          $j("#manufacturer").css('display','block');
          $j("#manufacturer").empty().append(html);
      }
    });
});
 
function removeRow(id){
  jQuery( "#product_row_"+id ).remove();
}
</script>
<script>
   jQuery(document).ready(function(){
    jQuery(document).on("change", ".item", function() {
    
      var selid=jQuery(this).attr('id');
      var selectedValue = this.value;
         
      var desarr = selid.split("_");
      var brandid=desarr[1];
      var myarr = selectedValue.split("_");
            var pincode = jQuery('#pincode').val(); 
      $j.ajax({
          url: "https://steeloncall.com/advertisementadmin/index/changeBrand/",
          type: "POST",
          data: "&pincode="+pincode,
          success: function(data) {
            
            var obj= JSON.parse(data);
            var html='';
            if(obj.status=='1'){
            html=html+"<option value=''>Select Brand</option>";
            $j.each( obj.data, function( key, value ) {
            html=html+"<option value='"+ value +"'>"+ value + "</option>";
            });
            }
            //$j("#brand_name_"+desid).html(html);
            $j("#brand_"+brandid).html(html);
        }
      });
    });
    
    jQuery(document).on("change", ".brand", function() {
      
      
      
        var selid=jQuery(this).attr('id');
        var selectedValue = this.value;
        var desarr = selid.split("_");
        var desid=desarr[1];
        var myarr = selectedValue.split("_");
               
               
               var pincode = jQuery('#pincode').val();  
          
              
               var brand = jQuery("#brand_"+desid).val();
               
               
        //make the ajax call
        $j.ajax({
          url: "https://steeloncall.com/advertisementadmin/index/changeGrade/",
          type: "POST",
          data: "pincode="+pincode+"&brand="+brand,
          success: function(data) {
            
            var obj= JSON.parse(data);
            var html='';
            if(obj.status=='1'){
            html=html+"<option value=''>Select Grade</option>";
            $j.each( obj.data, function( key, value ) {
            html=html+"<option value="+ value +">"+ value + "</option>";
            });
        }               
            $j("#grade_"+desid).html(html);
          }
        });
      });
      
      jQuery(document).on("change", ".item", function() {
        
        var selid=jQuery(this).attr('id');
        var selectedValue = this.value;
        var desarr = selid.split("_");
        var desid=desarr[1];
        var myarr = selectedValue.split("_");
        
        //make the ajax call
        $j.ajax({
          url: "https://steeloncall.com/advertisementadmin/index/changeCategory/",
          type: "POST",
          data: "&c_id="+myarr[0],
          success: function(data) {
            
          /*  var obj= JSON.parse(data);
            var html='';
            if(obj.status=='1'){
            html=html+"<option value=''>Select Size</option>";
            $j.each( obj.data, function( key, value ) {
              alert(key);
              alert(value)
            html=html+"<option value='"+ value +"'>"+ value + "</option>";
            });
            }*/
            //$j("#brand_name_"+desid).html(html);
            $j("#sizes_"+desid).html(data);
          }
        });
      });
   });
</script>
              </p>
           </div>
        </div>
     </div>
  </div>
</div>
</div>
</div>
<style type="text/css">
  #note_qty{padding:16px 20px; font-size: 18px}
</style>
{{ footer }} 