<div class="our-brand">
  <div class="container">
     <div class="brandslist">
        <h2><a href="brands.html"><span>Đối Tác Của Chúng Tôi</span></a></h2>
        <p>Chúng tôi tự hào cung cấp các Sản phẩm Tốt nhất từ ​​các Thương hiệu Tốt nhất</p>
        <ul class="brand-ul responsive">
          {% for banner in banners %}
            
           <a href='{% if banner.link %}{{banner.link}} {% endif %}'>
             
              <li><img  class='' src='{{ banner.image }}' alt='{{ banner.title }}'></li>
             }
           </a>
          {% endfor %}
        </ul>
        <!-- <a href="">MORE BRANDS ></a> -->
     </div>
     <!--  <div class="how-work">
        <h2>How It Works</h2>
        <div class="b-home">
        <p>We built SteelonCall with a vision to make building easy. Understanding your stress, we placed all your Steel needs in one place.  We not only made it budget friendly through Competitive Pricing but also safely deliver whenever you want, wherever you want.</p>
        
        
        </div>
        <a href="">READ MORE ></a>
        </div> -->
  </div>
</div>